/* CountdownTimer.css */

.countdown-container {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    /* background-color: #121212;  */
    padding: 20px;
    border-radius: 10px;
    /* max-width: 500px; */
    margin: 0 auto;
    font-family: Merriweather Sans;
  }
  
  .countdown-title {
    margin-bottom: 15px;
    font-size: 29px;
    font-family: Merriweather Sans;
    color: #F2F2F2;
  }
  
  .timer-display {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 98px;
    font-family: Share Tech;
    font-weight: bold;
  }
  
  .timer-component {
    background-color: #48BFBA;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .timer-label {
    display: block;
    margin-top: 5px;
    font-size: 18px;
    color: #cccccc;
    font-family: Merriweather Sans;
  }
  
  .event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .event-logo {
    width: 308px;
    height: auto;
  }
  
  .event-title {
    display: flex;
    margin: 0px;
    justify-content: center;
    
  }

  .Locus{
    font-size: 96px;
    color: #ffffff;
  }

  .text-2025{
    font-size: 96px;
    color: #48BFBA;
  }
  
  .event-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 55px;
    color: #ffffff;
    /* width: max-content; */
  }



  