.events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 2rem; */
    
    color: white;
  }
  
  .events-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .events-title span {
    color: #00bcd4; /* Highlighted text in turquoise */
  }
  
  .events-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
    /* gap: 1rem; */
    width: 1211px;
    height: 134px;
    background-color: #16948E; /* Turquoise background */
    /* padding: 1rem; */
    border-radius: 12px;
    
  }
  
  .event-stat-item {
    text-align: center;
    color: white;
  }
  
  .stat-value {
    font-size: 32px;
    font-weight: bold;
    margin: 20px;
  }
  
  .stat-label {
    font-size: 20px;
    /* margin-top: 0.5rem; */
  }
  