/* Footer.css */

.footer-container {
    margin-top: 30px;
    width: 100%; 
   
    background: linear-gradient(to bottom, #073548, #003333);
    color: #fff;
    text-align: center;
    /* padding: 40px 20px; */
    font-family: Arial, sans-serif;
  }
  
  .image-mountain img{
    width: 100%;
  }
  .footer-hero {
    margin-bottom: 50px;

  }
  
  .footer-title {
    font-size: 32px;
    font-weight: bold;
    color: #00ffcc;
    margin-bottom: 10px;
  }
  
  .footer-description {
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto 20px;
    line-height: 1.6;
  }
  
  .footer-button {
    background-color: #00ffcc;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .footer-button:hover {
    background-color: #00d4a3;
  }
  
  .footer-info {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    flex-wrap: wrap;
  }
  
  .footer-location,
  .footer-center,
  .footer-contact {
    flex: 1;
    display: flex;
    justify-content: center;

    min-width: 200px;
    margin: 20px;
    font-size: 36px;
  }
  .font-18{
    font-size: 18px;
  }

  .first-column{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    margin: 0;
  }
  .second-column{
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
  }
  .third-column{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
  }

  .third-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer-back {
    background-color: #48BFBA;
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 41px;
    font-family: allura;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 50px;
    width: 190px;
    height: 53px;
    font-weight:normal
  }
  
  .footer-logo {
    width: 365px;
    height: 276px;
    margin: 10px auto;
  }
  
  .center-title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .center-description {
    font-size: 14px;
    color: #ccc;
  }
  
  .footer-made-with {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
  }
  
  .footer-contact h4 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .social-icons {
    margin-top: 0px;
  }
  
  .icon {
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    color: #00ffcc;
  }
  
  .icon:hover {
    color: #00d4a3;
  }
  
  .footer-copyright {
    font-size: 14px;
    margin-top: 0px;
    color: #A0E4E2;
  }
  
  p{
    margin: 0px;
  }

  .highlight{
    color: #A0E4E2;
  }

  .custom-line {
    border: none;
    border-top: 1.7px solid #48BFBA;
    width: 100%; /* Adjust the width as needed */
    margin: 10px 0; /* Add some spacing above and below the line */
  }
  