.sponsors-section {
    text-align: center;
    /* background-color: #000;  */
    color: #fff; /* White text */
    padding: 20px;
  }
  
  .title {
    display: inline-block;
    text-align: center; /* Center the text (optional) */
    margin: 0; /* Remove default margin if needed */

    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title span {
    color: #00ffcc; /* Light green for "2025" */
  }

  .line{
    border: none; /* Remove default border */
    height: 1px; /* Thickness of the line */
    background-color: #E3E3E3; /* Color of the line */
    width: 100%; /* Match the width of the title container */
    margin: 5px 0 0; /* Add space between the title and the line */
  
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .sponsors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    justify-items: center;
  }
  
  .sponsor-card {
    /* background: #fff;  */
    /* color: #000;  */
    max-width: 500px;
    padding: 15px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .sponsor-logo {
    width: 100%; /* Adjust logo size */
    /* margin-bottom: 10px; */
  }
  
  .sponsor-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .sponsor-tagline {
    font-size: 0.9rem;
    color: #666;
  }
  
  